// Colors
// --------------------------------------------

// Default URLs

// Images
// Use: background: #fff url($layout+'image.png');
$layout: '../img/layout/';
$temp: '../img/temp/';

// Slide navigation
$slide-nav-width: 154;
$slide-nav-height: 706;

// Hamgurger icon
$hamgurger_width: 30px;